<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="left center">
    <app-avatar [user]="post.author"></app-avatar>
    <div>{{post.author.nickname}}</div>
    <mat-icon>navigate_next</mat-icon>
    <div>Public</div>
    <div class="app-fill-space"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let m of enabledActions" (click)="onMenu(m.action)">
        <mat-icon>{{m.icon}}</mat-icon>
        <span>{{m.name | i18n}}</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content fxLayout="column">
    <div *ngIf="editMode">
      <div class="markdown-editor-container">
        <app-markdown-editor #markdownEditor [content]="post.content"></app-markdown-editor>
        <mat-divider></mat-divider>
        <mat-card-actions align="end" class="post-editor-content-section">
          <button mat-raised-button (click)="cancelEdit()">{{StringIds.Cancel | i18n}}</button>
          <button mat-raised-button (click)="saveEdit()">{{StringIds.Save | i18n}}</button>
        </mat-card-actions>
      </div>
    </div>
    <app-markdown-viewer *ngIf="!editMode" [content]="post.content"
                         class="post-editor-content-section"></app-markdown-viewer>
  </mat-card-content>
  <mat-card-actions align="end" style="padding:1em;">
    <app-plus-one-button [initialOn]="post.plusedByMe" [onAction]="plusAction" [offAction]="unPlusAction"></app-plus-one-button>
    <button mat-icon-button class="off-icon" (click)="onShareClick()">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-divider></mat-divider>

  <div *ngIf="post.comments && post.comments.length">
    <mat-expansion-panel (opened)="notifyParent()" (closed)="notifyParent()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{StringIds.ShowAllXComments | i18n:post.comments}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [ngClass]="{'limit-comment-height':limitCommentHeight}">
        <div *ngFor="let comment of post.comments; let i = index">
          <hr class="comment-hr">
          <app-comment-editor [comment]="comment" [post]="post"></app-comment-editor>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
  <mat-divider></mat-divider>
  <app-comment-editor [comment]="comment" [post]="post"></app-comment-editor>
</mat-card>
