@import "../../../../styles/mixin";

.post-stream-view-container {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 5em;
}

app-post-group-view {
  width: 100%;
}

.post-stream-load-more-detector {
  height: 20px;
  width: 100%;
}

.discover-link {
  font-size: mat-font-size($app-font-config, title);
  font-family: mat-font-family($app-font-config);
  text-decoration: none;
}
