.post-stream-view-container{
  width:100%;
  box-sizing: border-box;
  margin: 0;
  padding-top: 5em;
}

app-post-group-view {
  width: 100%;
}

.post-stream-load-more-detector {
  height: 20px;
  width:100%;
}
