<div class="mention-selector-container">
  <mat-form-field>
    <input matInput
           class="mat-select-search-input mention-search"
           #searchSelectInput
           (input)="onInputChange($event.target.value)"
           [placeholder]="'Search'"/>
  </mat-form-field>
  <div fxLayout="column" class="mention-list">
    <button class="app-content-button mention-button" *ngFor="let user of filteredUsers" (click)="onListButtonClick(user)" fxLayout="row">
      <div class="app-avatar-small">
        <img src="{{user | avatarUrl}}">
      </div>
      <div>
        {{user.nickname}}
      </div>
    </button>
  </div>
</div>
