<div style="width:300px;height: 150px;" id="my-id-id-id"
     gdAreas="avatar avatar info info info | footer footer footer footer footer">
  <div gdArea="avatar">
    <button class="app-avatar-larger">
      <img src="../../../../assets/avatar.png" style="max-width:100%;max-height:100%">
    </button>
  </div>
  <div gdArea="info">
    <p>My Awesome Name</p>
    <p>my@awsome.mail</p>
    <p>
      <a [routerLink]="'sign-up'">
        <mat-icon class="icon">settings</mat-icon>
        <span class="label">Settings</span>
      </a>
    </p>
  </div>
  <div gdArea="footer">
    <button (click)="logout()">logout</button>
  </div>
</div>
