.time-line-container {
  padding: 5em;
}

/* clearfix */
.time-line-container:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.time-line-item {
  float: left;
  width: 34em;
  margin-bottom: 4em;
}

