<div class="user-page-container">
  <p *ngIf="loading">Loading...</p>
  <div *ngIf="!loading">
    <div class="user-page-header" fxLayout="column" fxLayoutAlign="center center">
      <div class="user-banner-image">
        <app-avatar class="user-header-avatar" [user]="user" [size]="'128px'"></app-avatar>
        <div class="user-circle-button">
          <div style="width: 1px; height: 1px;overflow: hidden;margin: 0;padding: 0;">
            <mat-select #circleSelector [(ngModel)]="circleSelects" multiple style="width:100px;"
                        (closed)="onCircleSelectorClose()">
              <mat-option *ngFor="let opt of iService.circles" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-select>
          </div>
          <div>
            <button [disabled]="circlesUpdating" mat-raised-button (click)="onCircleButtonClick()">{{circleButtonText | i18n}}
            </button>
            <button *ngIf="extraMenuItems.length" mat-raised-button [matMenuTriggerFor]="menu"
                    id="other-circle-option-button">
              <mat-icon id="other-circle-option-button-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of extraMenuItems" (click)="onExtraAction(item.action)">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.name | i18n}}</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <img
          src="https://lh3.googleusercontent.com/MSvat8V3fkwIIwcY3j64pvr3j1kKYl42wWIDniyWbCD3uxdfqecmGA4UesFt8HrhONuh6b3m9RQ32lOng2ALru-FoDXKj1LrpCg"
          #banner>
      </div>
    </div>
    <div class="user-page-content">
      <app-post-stream-view [streamFetcher]="streamFetcher"></app-post-stream-view>
    </div>
  </div>
</div>
