<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="'dialog'"
               [mode]="'over'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let entry of entries" mat-list-item
         [routerLink]="entry.link">
        <mat-icon class="icon">{{entry.icon}}</mat-icon>
        <span class="label">{{entry.name}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="app-fill-space"></span>
      <div>
        <button mat-button mat-icon-button (click)="authService.logout()" class="app-align-icon app-icon-spacing" style="color: white;margin-right: 2em;">
          <mat-icon class="icon" style="margin-right: 0.15em">input</mat-icon>
          <span class="label">Logout</span>
        </button>
      </div>
    </mat-toolbar>
    <ng-content *ngIf="loginGuard.isLoggedIn()"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
