<form name="form" #formRef="ngForm">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
    <img src="../../../../assets/logo.png" class="app-logo-median">
  </h2>
  <mat-dialog-content
    [class.login-main-content]="DialogTypes.Login === dialogType"
    [class.sign-up-main-content]="DialogTypes.SignUp === dialogType"
    fxLayout="column">
    <mat-form-field *ngIf="uiConfig.username">
      <input matInput placeholder="Username"
             type="text" pattern="^{{appConstants.usernamePattern}}$"
             name="username" required #username="ngModel"
             [(ngModel)]="dialogModel.username">
    </mat-form-field>
    <mat-form-field *ngIf="uiConfig.email">
      <input type="text" pattern="^{{appConstants.emailAddressPattern}}$" matInput placeholder="Email" id="email"
             name="email"
             [required]="uiConfig.emailRequired"
             #email="ngModel" [(ngModel)]="dialogModel.email">
    </mat-form-field>
    <mat-form-field *ngIf="uiConfig.password">
      <input type="password" matInput placeholder="Password" minlength="{{appConstants.minPasswordLength}}"
             id="password"
             name="password" required
             #password="ngModel" [(ngModel)]="dialogModel.password">
    </mat-form-field>

    <mat-form-field *ngIf="uiConfig.passwordConfirm">
      <input type="password" matInput placeholder="Confirm" minlength="{{appConstants.minPasswordLength}}"
             id="passwordConfirm"
             name="passwordConfirm"
             [disabled]="confirmDisabled()"
             required
             #passwordConfirm="ngModel" [(ngModel)]="dialogModel.passwordConfirm"
             (ngModelChange)="onConfirmChange()">
    </mat-form-field>
    <section *ngIf="uiConfig.mainExtra">
      <mat-checkbox *ngIf="uiConfig.rememberMe" name="rememberMe" [(ngModel)]="dialogModel.rememberMe">
        Remember Me
      </mat-checkbox>
      <button *ngIf="uiConfig.passwordToggle" class="app-button-link"
              (click)="onChangeDialogType(DialogTypes.Login === dialogType ? DialogTypes.PasswordRecoverRequest : DialogTypes.Login)"
              [disabled]="loading || togging">
        {{passwordToggleText}}
      </button>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>

    <div class="comp-submit-error">
      <mat-error>
        {{error}}
      </mat-error>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="width:100%">
      <button [disabled]="!formRef.form.valid || loading" class="my-login-button" mat-button mat-raised-button
              color="mat-red"
              (click)="onSubmit()" #button>
      <span>
        <mat-icon class="material-icons" *ngIf="!loading">input</mat-icon>
        <mat-spinner [diameter]="20" class="material-icons" *ngIf="loading"></mat-spinner>
        {{submitButtonText}}
      </span>
      </button>
    </div>
    <div style="width:100%;padding-bottom: 20px;"
         *ngIf="uiConfig.signUpToggle">
      <button class="app-button-link"
              (click)="onChangeDialogType(DialogTypes.Login === dialogType ? DialogTypes.SignUp : DialogTypes.Login)"
              [disabled]="loading || togging">
        {{signUpToggleText}}
      </button>
    </div>
  </mat-dialog-actions>
</form>
