//@import "../../../../styles/mixin";
form {
  width: 400px;
  height: 100%;
  padding: 20px;
  margin: 5px;
  font-size: medium;
}

.required-field-hint {
  margin-bottom: 10px;
  //font-family: mat-font-family($app-font-config);
  font-size: small;
}

mat-radio-button:nth-child(1) {
  margin-right: 20px;
}

.login-main-content {
  height: 170px;
}

.sign-up-main-content {
  height: 370px;
}

.mat-button, .mat-raised-button {
  font-size: medium;
  background-color: #dc4141;
  color: white;

  padding-left: 20px;
  padding-right: 20px;
  height: 42px;
}

.mat-button:disabled, .mat-raised-button:disabled {
  background-color: #926868;
  color: white;
}

.center-row {
  display: flex;
  justify-content: center;
}

.comp-submit-error {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 2.2em;
}

#login-submit-area {
  width: 100%;
}

#login-footer {
  width: 100%;
  padding-bottom: 20px;
}
