<form name="form" #formRef="ngForm" *ngIf="!i18nService.changing" (ngSubmit)="onSubmit(formRef)"
      (keydown.enter)="onSubmit(formRef)">
  <h2 mat-dialog-title fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/logo.png" class="app-logo-median">
  </h2>
  <mat-dialog-content
    [class.login-main-content]="DialogTypes.Login === dialogType"
    [class.sign-up-main-content]="DialogTypes.SignUp === dialogType"
    fxLayout="column">
    <mat-label class="required-field-hint" *ngIf="uiConfig.requiredFieldHint">
      {{StringIds.StarsRequiredField | i18n}}
    </mat-label>
    <mat-form-field *ngIf="uiConfig.username">
      <input matInput placeholder="{{StringIds.Username | i18n}}"
             type="text" pattern="^{{appConstants.USERNAME_PATTERN}}$"
             name="username" required #username="ngModel"
             [(ngModel)]="dialogModel.username">
    </mat-form-field>
    <mat-form-field *ngIf="uiConfig.nickname">
      <input matInput placeholder="{{StringIds.Nickname | i18n}}"
             type="text" pattern="^{{appConstants.NICKNAME_PATTERN}}$"
             name="nickname" required #nickname="ngModel"
             [(ngModel)]="dialogModel.nickname">
    </mat-form-field>
    <mat-form-field *ngIf="uiConfig.email">
      <input type="text" pattern="^{{appConstants.EMAIL_ADDRESS_PATTERN}}$" matInput
             placeholder="{{StringIds.Email | i18n}}" id="email"
             name="email"
             [required]="uiConfig.emailRequired"
             #email="ngModel" [(ngModel)]="dialogModel.email">
    </mat-form-field>
    <mat-form-field *ngIf="uiConfig.password">
      <input type="password" matInput placeholder="{{StringIds.Password | i18n}}"
             minlength="{{appConstants.MIN_PASSWORD_LENGTH}}"
             id="password"
             name="password" required
             #password="ngModel" [(ngModel)]="dialogModel.password">
    </mat-form-field>

    <mat-form-field *ngIf="uiConfig.passwordConfirm">
      <input type="password" matInput placeholder="{{StringIds.ConfirmPassword | i18n}}"
             minlength="{{appConstants.MIN_PASSWORD_LENGTH}}"
             id="passwordConfirm"
             name="passwordConfirm"
             [disabled]="confirmDisabled()"
             required
             #passwordConfirm="ngModel" [(ngModel)]="dialogModel.passwordConfirm"
             (ngModelChange)="onConfirmChange()">
    </mat-form-field>
    <section *ngIf="uiConfig.mainExtra" fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox *ngIf="uiConfig.rememberMe" [disabled]="loading" name="rememberMe" [(ngModel)]="dialogModel.rememberMe">
        {{StringIds.RememberMe | i18n}}
      </mat-checkbox>
      <div class="app-fill-space"></div>
      <button *ngIf="uiConfig.passwordToggle" class="app-button-link"
              tabindex="-1"
              (click)="onChangeDialogType(DialogTypes.Login === dialogType ? DialogTypes.ForgotPassword : DialogTypes.Login)"
              [disabled]="loading || togging">
        {{passwordToggleText | i18n}}?
      </button>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="comp-submit-error">
      <mat-error>
        {{error}}
      </mat-error>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" id="login-submit-area">
      <button mat-button mat-raised-button
              color="mat-red" type="submit"
              #button>
      <span>
        <app-spinner-switch [showSpinner]="loading" [size]="20" [icon]="'input'"
                            [textId]="submitButtonText"></app-spinner-switch>
      </span>
      </button>
    </div>
    <div id="login-footer" fxLayout="row" fxLayoutAlign="center center" >
      <app-language-selector></app-language-selector>



      <div class="app-fill-space"></div>
      <button *ngIf="uiConfig.signUpToggle" class="app-button-link login-wall-button-link"
              tabindex="-1"
              (click)="onChangeDialogType(DialogTypes.Login === dialogType ? DialogTypes.SignUp : DialogTypes.Login)"
              [disabled]="loading || togging">
        {{signUpToggleText | i18n}}?
      </button>
    </div>
  </mat-dialog-actions>
</form>
