.post-group-container {
  padding: 0 5em;
  width: 100%;
  box-sizing: border-box;
}

.post-group-container:after {
  content: '';
  display: block;
  clear: both;
}

.post-group-item {
  float: left;
  width: 34em;
  margin-bottom: 4em;
}
