.mat-drawer-container {
  height: 100%;
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.comp-avatar-area {
  margin-right: 40px;
}

mat-icon {
  span{
    top: -4px !important;
    right: -4px !important;
  }
}
