<div class="post-editor-dialog-container">
  <div fxLayout="row" fxLayoutAlign="left center">
    <button class="app-avatar-small">
      <img src="{{iService.me | avatarUrl}}">
    </button>
    <div>{{iService.me.nickname || 'Unknown'}}</div>
    <mat-icon>navigate_next</mat-icon>
    <div id="visibility-selector-anchor">
      <mat-select #visibilitySelector id="visibility-selector" (selectionChange)="onVisibilityChange($event)">
        <mat-option *ngFor="let opt of visibilityOptions" [value]="opt.id">{{opt.name | i18n}}</mat-option>
      </mat-select>
    </div>
    <button class="visibility-setting" (click)="showVisibilitySelector()">{{visibilityName | i18n}}</button>
    <div *ngIf="isPrivate()" id="circle-selector-anchor">
      <mat-select #circleSelector id="circle-selector" (selectionChange)="onCircleChange($event)">
        <mat-option *ngFor="let opt of []" [value]="opt.id">{{opt.name | i18n}}</mat-option>
      </mat-select>
    </div>
    <button *ngIf="isPrivate()" mat-icon-button (click)="showCircleSelection()">
      <mat-icon class="circle-selector-icon">people</mat-icon>
    </button>
    <div class="app-fill-space"></div>
  </div>
  <mat-divider></mat-divider>
  <app-markdown-editor class="post-editor-dialog-content" [disabled]="loading" #markdownEditor [content]="post.content" [contextUsers]="contextUsers"></app-markdown-editor>
  <mat-divider></mat-divider>
  <div class="post-editor-dialog-action" fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="15px">
    <div class="app-fill-space"></div>
    <button mat-raised-button (click)="cancelPost()">Cancel</button>
    <button mat-raised-button (click)="publishPost()" [disabled]="editor.isEmpty()" id="publish-post-button">
      <app-spinner-switch [showSpinner]="loading" [size]="20" [icon]="'send'" [textId]="'Post'"></app-spinner-switch>
    </button>
  </div>
</div>
