<h1>Sign Up</h1>

<form>
  <div *ngIf="!signUpToken">
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" #email>
    </div>
    <button type='button' (click)="requestSignUp(email.value)">
      Sign Up
    </button>
  </div>

  <div *ngIf="signUpToken">
    <div>
      <label for="username">User:</label>
      <input id="username" #username>
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" #password>
    </div>
    <div>
      <label for="confirm">confirm:</label>
      <input type="password" id="confirm" #confirm>
    </div>
    <button type='button' (click)="signUp(username.value, password.value, confirm.value)">
      Sign Up
    </button>
  </div>
</form>
