<div class="setting-dialog-container"
     gdAreas="avatar avatar info info info">
  <div gdArea="avatar">
    <app-avatar [user]="i.me" [size]="'128px'"></app-avatar>
  </div>
  <div gdArea="info">
    <p>{{i.me.nickname}}</p>
    <p>{{i.me.username}}</p>
    <p>
      <a class="setting-link" (click)="closeDialog()" [routerLink]="'settings'" fxLayout="row" fxLayoutAlign="left center">
        <mat-icon class="icon">settings</mat-icon>
        <span class="label">{{StringIds.Settings | i18n}}</span>
      </a>
    </p>
    <p>
      <button mat-raised-button (click)="logout()">{{StringIds.Logout | i18n}}</button>
    </p>
  </div>
</div>
