/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-red, 200);
$accent: mat-palette($mat-blue-grey, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.app-fill-space {
  flex: 1 1 auto;
}

.app-align-icon {
  display: inline-flex;
  align-items: center;
}

.app-align-icon.app-icon-spacing > :not(:last-child) {
  margin-right: 0.2em;
}
