/* You can add global styles to this file, and also import other style files */
@import "styles/_mixin.scss";

@include mat-core($app-font-config);

$primary: mat-palette($mat-red, 200);
$accent: mat-palette($mat-blue-grey, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.app-fill-space {
  flex: 1 1 auto;
}

.app-align-icon {
  display: inline-flex;
  align-items: center;
}

.app-align-icon.app-icon-spacing > :not(:last-child) {
  margin-right: 0.2em;
}

.app-logo-median {
  width: 100px;
  height: 100px;
}

.app-content-button {
  background: none;
  border: none;
  padding: 0;
  font-family: mat-font-family($app-font-config);
  outline: none;
  cursor: pointer;
  &:disabled {
    color: gray;
    cursor: default;
  }
  &:hover {
    background: aliceblue;
  }
}

.app-button-link {
  @include button-text(lightcoral, lightblue);
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}

.app-avatar-tiny {
  @include avatar(24px);
}

.app-avatar-small {
  @include avatar(32px);
}

.app-avatar-median {
  @include avatar(48px);
}

.app-avatar-large {
  @include avatar(72px);
}

.app-avatar-larger {
  @include avatar(108px);
}

.mat-dialog-container {
  padding: 0px !important;
  display: inline-block;

}

.tui-editor-defaultUI {
  border: none !important;
  margin-top: 6px;
  margin-bottom: 2px;
}

.app-nickname-link {
  font-size: mat-font-size($app-font-config, body-2);
  font-family: mat-font-family($app-font-config);
  text-decoration: none;
  font-weight: bold;
  color: #222222;
  &:active {
    color: red;
    text-decoration: none;
  }
}

.tui-editor-contents {
  font-size: mat-font-size($app-font-config, body-2);
  font-family: mat-font-family($app-font-config);

  margin: 0;
  padding: 0;
  .app-nickname-link {
    text-decoration: none;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-weight: bold;
  }

  p, table, ul, menu, ol, dir {
    color: #222;
  }
}

.CodeMirror-scroll, .te-preview {
  max-height: 35vh;
  height: 35vh;
}

.CodeMirror-code {
  font-size: mat-font-size($app-font-config, body-2);
  font-family: mat-font-family($app-font-config);
}

.tui-editor-defaultUI .CodeMirror-line {
  padding: 0;
}

.te-md-container .te-preview {
  padding: 0;
}

.te-markdown-tab-section .te-tab {
  margin: 1px -7px 0 0px;
  background: #fff;
}

.clearfix {

}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
