/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$config: mat-typography-config();

@include mat-core();

$primary: mat-palette($mat-red, 200);
$accent: mat-palette($mat-blue-grey, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.app-fill-space {
  flex: 1 1 auto;
}

.app-align-icon {
  display: inline-flex;
  align-items: center;
}

.app-align-icon.app-icon-spacing > :not(:last-child) {
  margin-right: 0.2em;
}

.app-logo-median {
  width: 100px;
  height: 100px;
}

.app-content-button {
  background: none;
  border: none;
  padding: 0;
  font-family: mat-font-family($config);
  outline: none;
  cursor: pointer;
  &:disabled {
    color: gray;
    cursor: default;
  }
  &:hover{
    background: aliceblue;
  }
}

.app-button-link {
  background: none !important;
  color: lightcoral;
  border: none;
  padding: 0 !important;
  // font-size: mat-font-size($config, body-1);
  font-size: inherit;
  font-family: mat-font-family($config);
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
  float: right;
  &:disabled {
    color: lightblue;
    cursor: default;
    text-decoration: none;
  }
}

@mixin avatar($dim) {
  background: white;
  outline: none;
  width: $dim;
  height: $dim;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: none;
  padding: 0 !important;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  &:disabled {
    cursor: default;
  }
}

.app-avatar-tiny {
  @include avatar(24px);
}

.app-avatar-small {
  @include avatar(32px);
}

.app-avatar-median {
  @include avatar(48px);
}

.app-avatar-large {
  @include avatar(72px);
}

.app-avatar-larger {
  @include avatar(108px);
}

.mat-dialog-container {
  padding: 4px!important;
}

.tui-editor-contents {
  font-size: mat-font-size($config, body-1);
  font-family: mat-font-family($config);

  .app-mention-user {
    text-decoration: none;
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-weight: bold;
  }
}
