<div fxLayout="row" fxLayoutAlign="left up">
  <div class="comment-author">
    <div *ngIf="!comment || !comment.author" class="comment-editor-avatar">
      <img src="{{iService.me | avatarUrl}}">
    </div>

    <div *ngIf="comment && comment.author">
      <app-avatar [user]="comment.author" [size]="'48px'"></app-avatar>
      <a href="{{ comment.author | userLink}}" class="app-nickname-link" target="_blank">{{comment.author.nickname}}</a>
    </div>
  </div>
  <div class="app-fill-space">
    <div *ngIf="editMode && comment">
      <app-markdown-editor #markdownEditor [initialFocus]="true" [content]="comment.content" [contextUsers]="contextUsers"></app-markdown-editor>
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancelEdit()">{{StringIds.Cancel | i18n}}</button>
        <button mat-raised-button (click)="saveEdit()">{{StringIds.Publish | i18n}}</button>
      </mat-card-actions>
    </div>
    <div *ngIf="!editMode && comment">
      <app-markdown-viewer [content]="comment.content"></app-markdown-viewer>
    </div>
    <div *ngIf="!editMode && !comment" (click)="createComment()" class="comment-editor-fake"
         style="cursor: text!important;">
      {{StringIds.AddComment | i18n}}...
    </div>
    <div *ngIf="comment && comment.id" fxLayout="row" fxLayoutAlign="center center">
      <div class="app-fill-space"></div>
      <app-plus-one-button [initialOn]="comment.plusedByMe" [onAction]="plusAction" [offAction]="unPlusAction"></app-plus-one-button>
      <button mat-icon-button *ngIf="comment.plusCount > 0">{{comment.plusCount}}</button>

      <button *ngIf="enabledActions && enabledActions.length" [disabled]="menuBusy" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [disabled]="menuBusy" mat-menu-item *ngFor="let m of enabledActions" (click)="onMenu(m.action)">
          <mat-icon>{{m.icon}}</mat-icon>
          <span>{{m.name | i18n}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
